.message {
    height: 65px;
    display: flex;
    flex-direction: row;
    width: 95vw;
    align-items: center;
}
.profile-img {
    width: 45px;
    height: 45px;
    border: 0.5px solid #000000;
    border-radius: 45px;
    margin: 4px;
}
.username {
    font-family: 'Montserrat';
    font-size: 14px;
    color: black;
}
.user-details {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
}
.time {
    margin-left: 5px;
    font-size: 9px;
    color: #292929;
}
.content {
    font-family: 'Roboto';
    color: #4D4E3F;
    font-size: 13px;
    width: 100%;
    height: 50px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
}